dist: xenial
language: python
sudo: false
cache: pip
python:
  - "3.6"
  - "3.7"
  - "3.8"
env:
  matrix:
  - DJANGO=111
  - DJANGO=22
  - DJANGO=master
matrix:
  fast_finish: true
  include:
    - env: TOXENV=qa
    - env: TOXENV=docs
  allow_failures:
  - env: DJANGO=master
install:
- pip install --upgrade pip tox
- pip install -U codecov
before_script:
- |
  if [[ -z $TOXENV ]]; then
    export TOXENV=py$(echo $TRAVIS_PYTHON_VERSION | sed -e 's/\.//g')-dj$DJANGO
  fi
- echo $TOXENV
script:
- tox -e $TOXENV
after_success:
- codecov
deploy:
  provider: pypi
  user: codingjoe
  password:
    secure: a5tlCZBkW+ZaTq0ZAJX5nrucGbzV3TCPxY5wWBTrcFDynGVhSEkN/xG3obxi9dNxRP3Y/iTDZp+CUJraUxHehbsFZ7vtRWXWOnhWeJrlVrc0/KPmMWpHOAbTZ/UIZZfn8q362HAb8c6BcrAWOK00Bpt3DBIzzGXvsg2sdcrpW4k=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: coddingtonbear/django-measurement
    branch: master
