language: python
sudo: false
cache:
  - pip
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
env:
  matrix:
    - DJANGO="Django<1.8,>=1.7"
    - DJANGO="Django<1.9,>=1.8"
    - DJANGO="-e git+https://github.com/django/django.git@master#egg=Django"
install:
  - pip install --upgrade pip
  - pip install -e .
  - pip install Django$DJANGO
  - pip install pytest pytest-pep8 pytest-flakes django-pytest
script:
  - python setup.py test
